section {
  display: flex;
  justify-content:space-around;
  width: auto;
}

h1 {
  font-size: 2rem;
  float: center;
  margin-left: 30px;
  margin-right: 50px;
}

h2 {
  font-size: 2rem;
  margin-top: 20px;
  text-align: center;
}

body {
  background-image: linear-gradient( rgb(230, 163, 204), rgb(188, 128, 231), rgb(159, 221, 230));
  background-attachment: fixed;
  padding: 10px;
  margin: 40px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
div.gallery {
  margin: 10px;
  border: 0px solid #ccc;
  width: 100%;

}


div.gallery img {
  width: 20%;
  height: auto;
}

.nav {
  
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
  
  
}
img {
  width: 400px;
  height: 400px;
}



 li {
  list-style-type: number;
  text-align: left;
  margin-left: 5rem;
  padding-left: 0rem;
} 

 